@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100&display=swap');

body {
    font-family: 'Martian Mono', monospace;
}

.container {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-around;
}

h2 {
    text-align: center;
    margin-top: 3rem;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 1.5rem;
}

li {
    padding: 0.5rem;
    text-align: center;
}

.user {
    margin-top: 5.5rem;
    text-align: center;
    font-size: larger;
}

.back {
    margin-top: 1.5rem;
    text-align: center;
    font-size: larger;
}

.edit-user {
    margin-top: 1.5rem;
}

.edit-user input {
    font-family: 'Martian Mono', monospace;
    font-size: medium;
}

.edit-user button {
    font-family: 'Martian Mono', monospace;
    font-size: medium;
}



